label{
	color: white;
}
.btn-change7{
    height: 30px;
    width: 70px;
    background: none;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    float: left;
    border:1px solid #fff;
    color:#fff;
    
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #fff  inset;
}
.btn-change7:hover{
    box-shadow:100px 0 0 #fff inset;
    color: black;
}
.btn-change8{
    height: 30px;
    width: 70px;
    background: none;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 80px;
    border-radius: 5px;
    font-size: 0.9em;
    float: left;
    border:1px solid #fff;
    color:#fff;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #fff  inset;
}
.bg{
    background-image: url('../images/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 681px;
    background-size: cover;
}
.btn-change8:hover{
    -webkit-box-shadow: -100px 0 0 #fff inset;
    color: black;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: #b3b6bc;
    text-align: center;
    padding-top: 30px;
}